build
recording/*
dataSetPreparing/*
pyYTdownload.py
*.pyc
__pycache__/*
dist/*
venv
*.pyc
dist/*
*.csv
data/*
.env
node_modules/

## Guarda tus propios datos aquí, tu calibración debe de ser unica :)

examples/.pkl/*